:root {
	--logo-size: 96px;
	--white: rgb(255,255,255);
	--light-1: rgb(245,245,245);
	--light-2: rgb(230,230,230);
	--light-3: rgb(200,200,200);
	--primary-1: rgb(223,224,251);
	--dark-1: rgb();
}

body {
	margin: 0px;
	font-family: system-ui;
	overflow-y: scroll;
	background-color: var(--light-1);
}

.home {
	margin: auto;
	max-width: 1920px;
}

.nav {
	z-index: 10;
	background-color: var(--white);
	overflow: hidden;
}

/* * TODO - Logo */
#logo {
	position: relative;
	height: var(--logo-size);
	width: var(--logo-size);
	display: flex;
	justify-content: center;
	align-items: center;
	float: left;
	user-select: none;
	font-size: calc(var(--logo-size) * 3/4);
	text-decoration: none;
	color: black;
	user-select: none;
	cursor: pointer;
}
#logo:hover {
	opacity: 30%;
}

/* * TODO - Button List From Right To Left*/
.floor1 {
	position: relative;
	height: calc(var(--logo-size) * 3/8);
	width: calc(100% - var(--logo-size));
	max-width: calc(1920px - var(--logo-size));
	background-color: var(--primary-1);
	float: left;
	overflow: hidden;
}
.floor1 #btn {
	position: relative;
	right: 8px;
	padding-left: calc(var(--logo-size) / 6);
	padding-right: calc(var(--logo-size) / 6);
	height: inherit;
	width: fit-content;
	display: flex;
	align-items: center;
	float: right;
	overflow: hidden;
	font-size: calc(var(--logo-size) * 1/4);
	text-decoration: none;
	color: black;
	user-select: none;
	cursor: pointer;
}
.floor1 #btn:hover {
	background-color: white;
}

/* TODO - Search Bar And Button List From Right To Left */
.floor2 {
	position: relative;
	height: calc(var(--logo-size) * 5/8);
	width: calc(100% - var(--logo-size));
	max-width: calc(1920px - var(--logo-size));
	background-color: var(--light-1);
	float: left;
	overflow: hidden;
	user-select: none;
}
.floor2 #searchbar {
	position: relative;
	top: calc(var(--logo-size) * 5/48);
	left: 8px;
	border-radius: 30px;
	padding: 0px 8px;
	height: calc(var(--logo-size) * 5/12);
	width: calc(100% - 284px);
	background-color: var(--light-3);
	display: flex;
	float: left;
	overflow: hidden;
}
.floor2 #searchicon {
	position: relative;
	top: 7px;
	left: 9px;
	float: left;
}
.floor2 #search {
	position: relative;
	left: 20px;
	border: 0px;
	padding-left: 12px;
	width: 100%;
	background-color: var(--light-2);
}
.floor2 #search:focus {
	outline: none;
}
.floor2 #btns {
	position: relative;
	right: 8px;
	margin: 0px;
	height: 100%;
	overflow: hidden;
}
.floor2 #btn {
	position: relative;
	top: calc(var(--logo-size) * 5/48);
	margin: 0px 6px;
	padding: 0px 16px;
	height: calc(var(--logo-size) * 5/12);
	min-width: calc(var(--logo-size) * 5/8);
	display: flex;
	justify-content: center;
    align-items: center;
	float: right;
	overflow: hidden;
	cursor: pointer;
}
.floor2 #btn:hover {
	opacity: 20%
}

.floor3 {
	position: relative;
	width: 100%;
	max-width: 1920px;
	float: left;
}

.categories {
	position: relative;
	height: 60px;
	width: 100%;
	max-width: 1920px;
	/* ? background-color: rgb(195,195,255); */
	background-color: var(--primary-1);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	float: left;
	overflow: hidden;
}

.category {
	padding: 20px 16px;
	border: none;
	height: inherit;
	max-height: 62px;
	background-color: var(--primary-1);
	display: flex;
	align-items: center;
	float: left;
	overflow: hidden;
	font-family: system-ui;
	font-size: 18px;
	white-space: nowrap;
	cursor: pointer;
}

.category:hover {
	background-color: var(--white);
}

.category-dropdown {
	z-index: 15;
	position: relative;
	height: 100%;
	width: 100%;
	max-width: 1920px;
	display: block;
	float: left;
	background-color: var(--white);
}

.category-dropdown #electronics {
	position: relative;
	margin: 0% 20%;
	padding: 12px 0px;
	width: 60%;
	max-width: 1920px;
	display: none;
	justify-content: center;
	flex-wrap: wrap;
	float: left;
}

.category-dropdown #fashion {
	position: relative;
	padding: 12px 0px;
	width: 100%;
	max-width: 1920px;
	display: none;
	justify-content: center;
	flex-wrap: wrap;
	float: left;
}

.category-dropdown #home {
	position: relative;
	padding: 12px 0px;
	width: 100%;
	max-width: 1920px;
	display: none;
	justify-content: center;
	flex-wrap: wrap;
	float: left;
}

.category-dropdown #books {
	position: relative;
	padding: 12px 0px;
	width: 100%;
	max-width: 1920px;
	display: none;
	justify-content: center;
	flex-wrap: wrap;
	float: left;
}

.category-dropdown #grocery {
	position: relative;
	margin: 0px 15%;
	padding: 12px 0px;
	width: 70%;
	max-width: 1920px;
	display: none;
	justify-content: center;
	flex-wrap: wrap;
	float: left;
}

.category-dropdown #pet-supplies {
	position: relative;
	padding: 12px 0px;
	width: 100%;
	max-width: 1920px;
	display: none;
	justify-content: center;
	flex-wrap: wrap;
	float: left;
}

.category-dropdown #beauty-and-health {
	position: relative;
	padding: 12px 0px;
	width: 100%;
	max-width: 1920px;
	display: none;
	justify-content: center;
	flex-wrap: wrap;
	float: left;
}

.category-dropdown #outdoors-sports {
	position: relative;
	padding: 12px 0px;
	width: 100%;
	max-width: 1920px;
	display: none;
	justify-content: center;
	flex-wrap: wrap;
	float: left;
}

.box {
	margin: 6px 6px;
	padding: 12px 12px;
	height: fit-content;
	width: max-content;
	float: left;
}
.list {
	position: relative;
	white-space: nowrap;
}

.list a {
	display: block;
	text-decoration: none;
	color: black;
}

.list a:hover {
	text-decoration: underline;
}

#header {
	padding: 0px 0px 12px 0px;
	width: fit-content;
	font-weight: bold;
	font-size: 24px;
	letter-spacing: 1px;
}

#item {
	padding: 4px 6px 4px 0px;
	width: fit-content;
	font-size: 18px;
}